@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Poppins:wght@200;300;500;600;800&display=swap');

$small: 768px;

* {
  margin: 0;
  font-family: 'Comfortaa', cursive;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

@media (max-width: $small) {
  ::-webkit-scrollbar {
    width: 6px;
  }
}

.form {
  font-family: sans-serif;
  background: white;
  display: grid;
  margin: 1em;
  box-shadow: 0 0 1em rgb(120, 120, 120);
  border-radius: 6px;
  padding: 1em 3em 1.5em;
  color: black;
  width: 50%;

  .form-header {
    text-align: center;
    color: #615858;
    padding-bottom: 1em;
    border-bottom: solid 1px #e5e5e5;
    margin-top: 1em;
    font-size: 2em;
  }

  .form-header-small {
    text-align: center;
    color: #615858;
    padding-bottom: 0.5em;
    border-bottom: solid 1px #e5e5e5;
    margin-top: 0.5em;
    font-size: 1.5em;
  }

  .input-field {
    margin-top: 1.5rem;
  }

  .input-field-icon {
    margin-top: 1.5em;
    display: flex;
    align-items: center;
  }

  .form-button {
    max-height: 3em;
    width: 85%;
    margin-top: 1.5em;
    justify-self: center;
    justify-content: center;
  }

  .login-button {
    background: linear-gradient(to left, rgb(74, 209, 243), rgb(2, 73, 105));
  }
  .register-button {
    background: linear-gradient(to left, rgb(243, 128, 74), rgb(128, 36, 0));
  }

  .google-button {
    span {
      color: black;
      text-align: center;
    }
  }

  .form-footer {
    margin-top: 2em;
    text-align: center;
  }

  .logo-container {
    display: flex;
    width: 300px;
    justify-self: center;
    justify-content: center;
  }

  .logo-container:hover {
    h2 {
      letter-spacing: 7px;
    }

    p {
      letter-spacing: 5px;
    }
  }

  .logo-text {
    justify-self: center;
    display: flex;
    flex-direction: column;
    color: black;
    text-align: center;
    justify-content: center;
    margin: 0.5em;

    h2 {
      letter-spacing: 5px;
      transition: 1s;
    }

    p {
      font-size: 0.7em;
      letter-spacing: 4px;
      transition: 1s;
    }
  }

  .logo {
    width: 80px;
  }

  a {
    text-decoration: none;
  }

  .form-duo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
  }

  @media (max-width: $small) {
    padding: 1em 1em 1em;
    width: 100%;

    h2 {
      margin-top: 0.5em;
      font-size: 1.4em;
    }

    .logo-container {
      width: 200px;
    }
  }
}

.register-success {
  display: grid;
  row-gap: 2rem;
  text-align: center;
  padding: 1rem;

  button {
    background: linear-gradient(to left, rgb(74, 209, 243), rgb(2, 73, 105));
    width: 50%;
    justify-self: center;
  }

  a {
    text-decoration: none;
  }
}

.navbar {
  color: white;

  button {
    color: white;
    width: 100%;
    font-size: 1.2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: 0.5s;
  }

  button:hover {
    letter-spacing: 2px;
  }

  a {
    text-decoration: none;
  }

  .logo-container {
    width: 60%;
    display: flex;
  }

  .logo-container:hover {
    h2 {
      letter-spacing: 7px;
    }

    p {
      letter-spacing: 5px;
    }
  }

  .logo-text {
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    justify-content: center;

    h2 {
      letter-spacing: 5px;
      transition: 1s;
    }

    p {
      font-size: 0.7em;
      letter-spacing: 4px;
      transition: 1s;
    }
  }

  .logo {
    margin: 0.5em 0.5em;
    width: 80px;
  }

  @media (max-width: $small) {
    font-size: 0.5rem;
    button {
      padding: 3px;
    }
  }
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.island-background-auth {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-out;

  @media (min-height: 630px) {
    height: 100vh;
  }
}

.account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .google-card {
    display: grid;
    row-gap: 0.7rem;
    padding: 2rem 2rem 2.5rem 2rem;
    margin: 1rem;
    justify-content: center;
    text-align: center;
    width: 60%;

    h2 {
      margin-bottom: 2rem;
    }
  }

  h1 {
    text-align: center;
  }

  .delete-account {
    background: linear-gradient(to left, rgb(207, 90, 70), rgb(185, 15, 15));
  }

  @media (min-height: 630px) {
    height: 100vh;
  }

  @media (max-width: $small) {
    h1,
    .form-header-small {
      font-size: 1.4em;
    }
  }
}

.bg-loading {
  opacity: 0;
}

.bg-loaded {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('../../assets/images/landing-background.jpg') no-repeat center center/cover;
}

.showcase {
  display: grid;
  background: black;
}

.landing {
  display: grid;
  color: white;
  text-align: center;
  z-index: 2;
  align-self: center;

  .landing-header {
    margin: auto 1em;

    h2 {
      letter-spacing: 20px;
      font-size: 3em;
      font-weight: 800;
      transition: 1.2s;
      cursor: default;
      margin-bottom: 1em;
    }

    h2:hover {
      letter-spacing: 30px;
    }

    p {
      margin-bottom: 2em;
      text-transform: capitalize;
      letter-spacing: 4px;
      font-size: 1.2em;
    }

    @media (max-width: $small) {
      h2 {
        font-size: 2.5em;
      }
      p {
        font-size: 0.8em;
      }
    }
  }

  .landing-buttons {
    display: flex;
    justify-self: center;
    width: 320px;

    button {
      width: 100%;
      height: 100%;
      transition: 0.5s;
    }

    button:hover {
      letter-spacing: 5px;
      box-shadow: 0 0 0.5em rgb(170, 170, 170);
    }

    a {
      margin: 0.5em;
      width: 80%;
      height: 2.5em;
      font-size: 1.1em;
      text-decoration: none;
    }

    .login-button {
      background: linear-gradient(to left, rgb(74, 209, 243), rgb(2, 73, 105));
    }
    .register-button {
      background: linear-gradient(to left, rgb(243, 128, 74), rgb(128, 36, 0));
    }
  }
}

.enter-left {
  animation: enter-frame-left 1s;
  @keyframes enter-frame-left {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0);
    }
  }
}

.enter-right {
  animation: enter-frame-right 1s;
  @keyframes enter-frame-right {
    0% {
      transform: translateX(50%);
    }
    100% {
      transform: translateX(0);
    }
  }
}

.vacation-card {
  width: 80%;
  justify-self: center;
  height: 280px;
  align-items: center;
  font-family: 'Comfortaa', cursive;

  .vacation-card-text {
    display: grid;
    grid-template-rows: 1fr 2fr;
    text-align: center;
    padding: 0 0.5em;
    height: 100%;
    row-gap: 0.8em;

    .vacation-card-top {
      padding-top: 0.1em;
      display: flex;
      color: #111;
      justify-content: space-between;
      height: fit-content;

      p {
        font-size: 1.2em;
      }

      .vacation-card-header {
        width: 80%;
        margin: 0 0.5em;

        h2 {
          font-size: 2em;
        }

        p {
          color: #444;
          margin-top: 0.2em;
        }
      }

      .vacation-card-star {
        display: flex;

        .star-icon {
          color: #333;
          font-size: 1.3em;
        }

        .star-icon-active {
          color: rgb(220, 0, 0);
          font-size: 1.3em;
        }

        .delete-icon {
          font-size: 1.3em;
          color: rgb(200, 0, 0);
        }

        .modify-icon {
          font-size: 1.3em;
          color: rgb(2, 73, 105);
        }

        .star-button {
          margin-top: -4px;
          transition: 0.5s;
          padding: 0;
          height: fit-content;
        }

        .star-button:hover {
          .star-icon {
            color: rgb(220, 0, 0);
          }
          transform: translateY(-4px);
        }
      }
    }

    .vacation-card-mid {
      width: 90%;
      justify-self: center;
      text-align: left;
      letter-spacing: 1px;
      line-height: 1.4em;
      overflow-y: auto;
      padding-right: 0.5em;
      max-height: 140px;
      color: #444;
    }
  }

  @media (max-width: 1024px) {
    height: 200px;
    font-size: 0.9rem;
    width: 98%;

    .vacation-card-header {
      font-size: 0.9em;
    }
    .vacation-card-text {
      row-gap: 0.5rem;
      .vacation-card-mid {
        max-height: 90px;
      }
    }
  }

  @media (max-width: $small) {
    font-size: 0.7rem;
    width: 98%;
    height: 160px;

    .vacation-card-star {
      font-size: 0.9em;
    }

    .star-button {
      font-size: 2em;
    }

    .vacation-card-header {
      font-size: 1em;
    }

    .vacation-card-text {
      .vacation-card-mid {
        max-height: 90px;
      }
    }
  }

  @media (max-width: 430px) {
    font-size: 0.6rem;
  }
}

.all-vacations {
  display: grid;
  row-gap: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
}

.add-vacation {
  display: flex;
  justify-content: center;
}

.alerts-box {
  width: '100%';
  position: fixed;
  z-index: 100;
  width: 100%;
  display: grid;
  justify-content: center;
}

.alert {
  animation: fade-in 1s;

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.analytics {
  display: flex;
  text-align: center;
  flex-direction: column;
  height: 80vh;
}
